/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.css-1j7qzwp {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  background-color: #ffffff !important;
}